.gradle
.idea

build

buildSrc/.gradle
buildSrc/build

jars

paper/.gradle
paper/build

paper/run
!paper/run/config
!paper/run/spigot.yml
!paper/run/bukkit.yml
!paper/run/eula.txt
!paper/run/server.properties
!paper/run/plugins
!paper/run/ops.json

dev/.gradle
dev/build

dev/run
!dev/run/config
!dev/run/spigot.yml
!dev/run/bukkit.yml
!dev/run/eula.txt
!dev/run/server.properties
!dev/run/ops.json