name: Release Build
on:
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build --stacktrace
      - name: Publish to Modrinth
        run: ./gradlew modrinth --stacktrace
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      - name: Publish to Hangar
        run: ./gradlew publishAllPublicationsToHangar --stacktrace
        env:
          HANGAR_KEY: ${{ secrets.HANGAR_KEY }}
      - name: Notify Discord
        if: success()
        run: ./gradlew release-build --stacktrace
        env:
          BUILD_WEBHOOK: ${{ secrets.BUILD_WEBHOOK }}
      - name: Build Failure
        if: failure()
        run: ./gradlew failed-build --stacktrace
        env:
          BUILD_WEBHOOK: ${{ secrets.BUILD_WEBHOOK }}