name: Release Build

on:
  workflow_dispatch:

  release:
    types: [ published ]

jobs:
  build:
    uses: Crazy-Crew/.github/.github/workflows/build.yml@main

    secrets:
      webhook: ${{ secrets.BUILD_WEBHOOK }}
      modrinth_token: ${{ secrets.MODRINTH_TOKEN }}
      hangar_token: ${{ secrets.HANGAR_KEY }}