name: Snapshot Build

on:
  workflow_dispatch:

  push:
    branches:
      - dev

jobs:
  build:
    uses: Crazy-Crew/.github/.github/workflows/build.yml@main

    secrets:
      webhook: ${{ secrets.CE_WEBHOOK }}
      modrinth_token: ${{ secrets.MODRINTH_TOKEN }}
      hangar_token: ${{ secrets.HANGAR_KEY }}